.App {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(187, 212, 255);
  padding-bottom: 80px;
}

.title {
  color: white;
  text-shadow: 1px 0 5px black, 0px 1px 5px black, -1px 0 5px black,
    0 -1px 5px black;
  border-top: dotted 10px;
  border-bottom: dotted 10px;
  font-size: 70px;
  padding: 10px;
}
/* 
.button {
  background-color: rgb(0, 247, 255);
  width: 100px;
  height: 100px;
} */

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  left: 20%;
  bottom: 0%;
}

/* @keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
} */
.kit-selection {
  font-size: 30px;
  margin-bottom: 10px;
  border-bottom: solid;
}

.hip-hop-button {
  height: 75px;
  width: 200px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid;
}

.hip-hop-button:hover {
  border: solid;
  color: black;
  background-color: rgb(187, 212, 255);
}

.drums-button {
  height: 75px;
  width: 200px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid;
}

.drums-button:hover {
  border: solid;
  color: black;
  background-color: rgb(187, 212, 255);
}

.piano-button {
  height: 75px;
  width: 200px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid;
}

.piano-button:hover {
  border: solid;
  color: black;
  background-color: rgb(187, 212, 255);
}

.num1-0 {
  background-color: white;
  width: 100%;
  display: flex;
}

.num1-0 > div {
  height: 100px;
  width: 100px;
  flex: 1;
  margin: 2px;
  border: solid;
  color: black;
}

.num1-0 > div:hover {
  border: solid;
  color: white;
}

.row-q {
  background-color: white;
  width: 100%;
  display: flex;
}

.row-q > div {
  height: 100px;
  width: 120px;
  flex: 1;
  margin: 2px;
  border: solid;
  color: black;
}

.row-q > div:hover {
  border: solid;
  color: white;
}

.row-a {
  background-color: white;
  width: 90%;
  display: flex;
  margin-left: 5%;
}

.row-a > div {
  height: 100px;
  width: 120px;
  flex: 1;
  margin: 2px;
  border: solid;
  color: black;
}

.row-a > div:hover {
  border: solid;
  color: white;
}

.row-z {
  background-color: white;
  width: 70%;
  display: flex;
  margin-left: 15%;
}

.row-z > div {
  height: 100px;
  width: 120px;
  flex: 1;
  margin: 2px;
  border: solid;
  color: black;
}

.row-z > div:hover {
  border: solid;
  color: white;
}

.key-text {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 50px;
  padding: 10px;
}

.keyboard {
  border: solid;
  padding: 20px;
}

.change-kit-buttons {
  margin-left: 10%;
  margin-top: 30px;
}

.buttons-and-metro {
  display: flex;
}

.pad1 {
  background-color: rgb(255, 200, 200);
}

.pad2 {
  background-color: rgb(255, 150, 150);
}
.pad3 {
  background-color: rgb(255, 100, 100);
}
.pad4 {
  background-color: rgb(161, 244, 255);
}

.pad5 {
  background-color: rgb(185, 131, 175);
}
.pad6 {
  background-color: rgb(187, 255, 187);
}
.pad7 {
  background-color: pink;
}
.pad8 {
  background-color: rgb(140, 140, 255);
}
.pad9 {
  background-color: rgb(255, 150, 150);
}
.pad0 {
  background-color: rgb(255, 200, 200);
}

.pad-q {
  background-color: rgb(161, 244, 255);
}

.pad-w {
  background-color: rgb(255, 255, 0);
}

.pad-e {
  background-color: rgb(187, 255, 187);
}
.pad-r {
  background-color: rgb(140, 140, 255);
}
.pad-t {
  background-color: rgb(255, 168, 168);
}

.pad-y {
  background-color: rgb(255, 255, 196);
}
.pad-u {
  background-color: rgb(255, 220, 155);
}
.pad-i {
  background-color: pink;
}
.pad-o {
  background-color: rgb(185, 131, 175);
}
.pad-p {
  background-color: pink;
}

.pad-a {
  background-color: rgb(185, 131, 175);
}

.pad-s {
  background-color: pink;
}
.pad-d {
  background-color: rgb(140, 140, 255);
}
.pad-f {
  background-color: rgb(255, 168, 168);
}

.pad-g {
  background-color: rgb(255, 255, 196);
}
.pad-h {
  background-color: rgb(140, 140, 255);
}
.pad-j {
  background-color: rgb(187, 255, 187);
}
.pad-k {
  background-color: rgb(161, 244, 255);
}
.pad-l {
  background-color: rgb(185, 131, 175);
}

.pad-z {
  background-color: rgb(161, 244, 255);
}
.pad-x {
  background-color: rgb(255, 220, 155);
}
.pad-c {
  background-color: rgb(187, 255, 187);
}
.pad-v {
  background-color: pink;
}
.pad-b {
  background-color: rgb(185, 131, 175);
}
.pad-n {
  background-color: rgb(140, 140, 255);
}
.pad-m {
  background-color: rgb(255, 168, 168);
}

.metronome {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 20px 30px 20px 30px;
  font-size: 30px;
}

.bpm-display {
  border: solid;
  width: 150px;
  margin-left: 80px;
}

.bpm-slider input {
  -webkit-appearance: none;
  width: 300px;
  margin: 10px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.bpm-slider input:hover {
  opacity: 1;
}

.bpm-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 40px;
  background: black;
  cursor: col-resize;
}

.bpm-slider input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.metronome button {
  background-color: black;
  padding: 10px;
  border: solid white;
  width: 100px;
  color: #fff;
  font-size: 18px;
}

.metronome button:hover {
  border: solid;
  color: black;
  background-color: rgb(187, 212, 255);
}

.metronome-text {
  padding-bottom: 5px;
}
